{
    # Configuración global: Solo el nombre del motor
    frankenphp
}

# Bloque del sitio: Aquí es donde vive la lógica de tu app
:{$PORT:8080} {
    # 1. Definimos la raíz (root NO puede ir dentro de frankenphp)
    root * public/

    # 2. Ejecutamos el servidor PHP
    # Nota: Aquí NO ponemos llaves si solo queremos los valores por defecto
    php_server {
        env DATABASE_URL {env.DATABASE_URL}
    }

    # 3. Reescribimos para que el Router funcione
    @not_file {
        not file {path}
        not path *.php
    }
    rewrite @not_file /index.php?{query}

    # 4. Servidor de archivos estáticos
    file_server
}