{
    frankenphp
}

:{$PORT:8080}

# Forzar que el servidor sepa dónde está la raíz
root * /app/public

# Procesar PHP
php_server {
    root /app/public
    env DATABASE_URL {env.DATABASE_URL}
}

# Manejar las rutas del Router
@not_file {
    not file {path}
}
rewrite @not_file /index.php?{query}

file_server