{
    frankenphp
}

:{$PORT:8080}

route {
    
    root * public/
    
    file_server
    
    try_files {path} /index.php?{query}
    
    
    php_server {
        env DATABASE_URL {env.DATABASE_URL}
    }
}