a {
  text-decoration: none;
  color: black;
}

.container-login {
  display: flex;
  flex-direction: column;
}

.logo-section {
  text-align: center;
  color: white;
}

.mus-culito {
  color: #13ec5b;
}

.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.login-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  min-width: 280px;
  padding: 5px;
  margin: 4px 4px;
  border: 1px solid rgba(146, 201, 164, 0.1);
  border-radius: 8px;
  background-color: rgba(16, 34, 22, 0.85);
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.login-form label {
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 8px;
  background-color: rgba(16, 34, 22, 0.85);
  border: 1px solid rgba(146, 201, 164, 0.1);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #13ec5b;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.footer-links {
  padding-right: 40px;
  font-size: 14px;
}

.link {
  color: #35424a;
  margin-left: 20px;
}

.copy {
  text-align: center;
  font-size: 12px;
  color: #777;
}

button:hover {
  box-shadow: #000000bd 0px 4px 15px;
}

button:active {
  transform: scale(0.98);
}

.link:hover {
  color: #ccc;
}

@media (min-width: 320px) {
  .container-login,
  .login-cart {
    align-items: center;
    width: 50%;
    margin: 10px auto;
  }
}

@media (min-width: 768px) {
  .container-login,
  .login-cart {
    width: 400px;
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  .container-login,
  .login-cart {
    width: 400px;
    margin: 10px auto;
  }
}

@media (min-width: 1440px) {
  .container-login,
  .login-cart {
    width: 400px;
    margin: 10px auto;
  }
}

@media (min-width: 768px) {
  .container-login,
  .login-cart {
    width: 350px;
    padding: 30px;
  }
}
